body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
  }
  
  header {
    width: 80%;
    margin: 0 auto;
    background-color: #000;
    font-size: 36px;
    text-align: center;
    color: #fff;
    padding: 20px 0;
    animation: header-animation 1s;
  }
  
   
  
  @keyframes header-animation {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .left {
    flex: 1 0 50%;
    background-color: #333333;
    color:#fff;
    flex-wrap: wrap;
  }
  .allleft {
    flex: 1 1 10%;
    background-color: #000;
  }
  
  
  .right {
    flex: 1 0 50%;
    background-color: #333333;
    color: #fff;
  }
  .allright {
    flex: 0 1 30%;
    background-color: #000;
    color: #fff;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    color: #fff;
    padding: 20px;
  }
  
  .buttons a {
    color: #fff;
    text-decoration: none;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .buttons a:hover {
    background-color: #fff;
  }
  .newheader{
    color: #fff;
    width: 80%;
    margin: 0 auto;
    background-color: #000;
    font-size: 36px;
    text-align: center;

    align-items: center;
  
    
    padding: 20px 0;
   
  }
  