
/**
* @template:  Hitch

TABLE OF CONTENTS

	* Global
		+ Navbar
		+ Header
		+ Hero
		+ Portfolio
		+ Numbers
		+ Blog
		+ Clients
		+ Contact
		+ Footer
		+ Demo-2
		+ Demo-3
		+ Post Page
			- s-post
			- comments
			- post comment
			- side bar
		
*/

@import "main.css";


/* -------------------------------------------------------
                    Containers
-------------------------------------------------------- */
.About-container {
    max-width: 720px;
	align-items: center; /* Set your desired maximum width */
    margin: 0 auto; /* Center the container horizontally */
}
  
@media (min-width: 768px) {
	.swiper-container {
	  width: 40%
	}
}
/* -------------------------------------------------------
                     Swiper
-------------------------------------------------------- */

.swiper-container-1 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
	overflow: hidden;
	flex-wrap: wrap;
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
	
}

.swiper-container-2 {
	position: relative;
    margin-left: auto;
    margin-right: auto;
	overflow: hidden;
	flex-wrap: wrap;
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
  }

.swiper-slide {
	display: flex;
	align-items: left;
	overflow: hidden;
	justify-content: center;
}

.video-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding: 10px;
	background-color: #f1f1f152;
	text-align: center;
	border-radius: 10px;
	margin-bottom: 20px;
}

.video-container {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	align-items: center;
	position: relative;
	display: flex;
}
.swiper-slide {
	display: flex;
	justify-content: center;
  }
.swiper-button-next-1,
.swiper-button-prev-1 {
	/* Rest of your styles */
	left: auto; /* Remove left positioning */
	right: 10px; /* Adjust right positioning */
	transform: translateY(-50%);
	
}

.swiper-button-prev-1 {
	left: 10px; /* Adjust left positioning for prev button */
	right: auto; /* Remove right positioning */
}
.swiper-button-next-1,
.swiper-button-prev-1 {
	/* Rest of your styles */
	left: auto; /* Remove left positioning */
	right: 10px; /* Adjust right positioning */
	transform: translateY(-50%);
	
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  	height: 100%;
	align-items: center;
}
.content-box {
	padding: 20px;
  }
  



  
@media (min-width: 768px) {
	.swiper-container {
	  width: 80%
	}
	
}
@media (min-width: 768px) {
	.swiper-container-2 {
	  width: 80%
	}
}


/* -------------------------------------------------------
                     Global 
-------------------------------------------------------- */

body{
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	font-weight: 400;
}

.section-padding{
	padding: 100px 0;
}

.tit{
	margin-bottom: 100px;
	display: inline-block;
	font-size: 38px;
	text-transform: capitalize;
}

h1,h2,h3,h4,h5,.navbar .navbar-brand{
	font-family: 'Righteous', cursive;
}

p{
	color: #ffffff;
}

main{
	position: relative;
	z-index: 2;
	background-image: url(../img/BackgroundImages/pexels-allan-carvalho-16551487.jpg);
	background-size: contain;
	background-color: #2a2929c3;
	background-attachment: fixed;
	background-blend-mode: overlay;
	margin-bottom: 247px;
}

input:focus,
textarea:focus
{
	border-color: #555 !important;
}

.cd-title {
  position: relative;
  height: 160px;
  line-height: 230px;
  text-align: center;
}

.cd-title h1 {
  font-size: 2.4rem;
}

@media only screen and (min-width: 768px) {
  .cd-title {
    line-height: 250px;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-title {
    height: 200px;
    line-height: 300px;
  }
  .cd-title h1 {
    font-size: 3rem;
  }
}

.cd-intro {
  width: 90%;
  max-width: 768px;
  text-align: center;
}

.cd-intro {
  margin: 4em auto;
}

@media only screen and (min-width: 768px) {
  .cd-intro {
    margin: 5em auto;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-intro {
    margin: 6em auto;
  }
}

.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}
@media only screen and (max-width: 767px){
.cd-headline{
	font-size:2rem;
}
}
@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem;
  }
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
@media only screen and (max-width: 767px) {
	.cd-words-wrapper b {
		display: inline-block;
		position: absolute;
		white-space: wrap;
		font-size: 3.5rem;
		left: 0;
		top: 0;
	}
  }

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/* xclip */

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  white-space: nowrap;
  vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #aebcb9;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 400;
}
/*video*/
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.video-box {
  margin-bottom: 20px;
  width: calc(100% - 30px);
  box-sizing: border-box;
  border: 1px solid #ccc;
  overflow: hidden;
}

.video-container {
  position: relative;
  padding-bottom: 100;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-box {
  padding: 10px;
}

h2 {
  margin: 0;
  font-size: 18px;
}

p {
  margin: 10px 0;
}


/* -------------------------------------------------------
                     Navbar 
-------------------------------------------------------- */

.navbar{
	background: #000;
	height: 60px;
	line-height: 60px;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 0;
	text-transform: capitalize;
	z-index: 99999;
	display: none;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus
{
	font-size: 30px;
	color: #eee;
	padding-top: 20px;
	text-transform: uppercase;
}

.navbar .navbar-nav>li>a{
	margin: 0!important;
	color: #aaa!important;
	padding: 0!important;
}

.nav>li>a:hover, .nav>li>a:focus{
	background: none;
}

.navbar .navbar-nav>li{
	font-size: 13px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	margin: 20px 15px 0;
	padding: 5 10px;
	background: none;
	cursor: pointer;
	position: relative;
}

.navbar .navbar-nav>li>a.active{
	color: #fff!important;
	background: none;
}

/* -------------------------------------------------------
                    Header
-------------------------------------------------------- */

.header{
	height: 100vh;
	width: 100%;
	background: rgba(0,0,0,.2);
	background-image: url(../img/Audiowall_dual_conic_conciousness_as_light_0678ffab-a244-43f6-a5aa-cb43b551043a.png);
	background-size: contain;
	background-attachment: fixed;
	background-blend-mode: overlay;
	position: relative;
	overflow: hidden;
}

.caption{
	color: #fff;
	text-transform: uppercase;
}

.caption h1{
	margin: 20px auto;
	font-size: 90px;
}

.caption .social-icon span{
	margin: 0 15px;
	font-size: 20px;
	transition: all .5s;
	cursor: pointer;
}

.caption .social-icon span:hover{
	transform: translateY(-5px);
}

.button-scroll{
	position: absolute;
	bottom: 5vh;
	left: calc(50% - 13px);
	width: 26px;
	height: 50px;
	border-radius: 15px;
	border:2px solid #fff;
	cursor: pointer;
	z-index: 9999;
}

.button-scroll span{
	position: absolute;
	left: calc(50% - 4px);
	color: #fff;
	-webkit-animation: scroll .5s infinite alternate;
    -moz-animation: scroll .5s infinite alternate;
    animation: scroll .5s infinite alternate;
}

@keyframes scroll{
    0% { top: 50%; }
    50% { top: 55%; }
    100% { top: 60%; }
}
@-webkit-keyframes scroll{
    0% { top: 50%; }
    50% { top: 55%; }
    100% { top: 60%; }
}
@-moz-keyframes scroll{
    0% { top: 50%; }
    50% { top: 55%; }
    100% { top: 60%; }
}

/* -------------------------------------------------------
                    Hero
-------------------------------------------------------- */

.hero{
	padding-top: 100px;
}

.hero .hero-item p{
	line-height: 2;
}

.hero .hero-img{
	position: relative;
}

.hero button{
	padding: 8px 25px;
	border: none;
	background: #222;
	color: #eee;
	transition: all .5s;
}

.hero button:hover{
	background: #eee;
	color: #222
}

.hero .hero-progress{
	padding-top: 40px;
}

.hero .hero-progress p{
	font-size: 12px;
	color: #555;
	margin-bottom: 5px;
}

.hero .hero-progress .progress-main{
	background: #eee;
	width: 100%;
	height: 2px;
	margin: 0 auto 30px;
}

.hero-progress .progress-main .progress-bar{
	background: #111;
	height: 100%;
	width: 0;
	transition: all 2s;
}

.hero .services{
	background: #fafafa;
	margin-top: 100px;
}

.services .serv-row .serv-item{
	padding: 0px 10px;
}

.services .serv-row .serv-item span{
	font-size: 40px;
	color: #444;
}

.services .serv-row .serv-item h6{
	margin: 20px auto;
	font-size: 22px;
	font-family: 'Righteous', cursive;
}


/* -------------------------------------------------------
                    New Hero
-------------------------------------------------------- */

.hero-item {
	display: flex;
	flex-direction: column;
	border: 1px solid #ccc;

	background-color: #55555562;
	background-size: contain;
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 20px;
  }
  .hero-item img {
	display: flex;
	justify-content: center; /* horizontally center the child elements */
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	width: 300px; /* Set the desired width */
	height: auto; /* Maintain aspect ratio */
	border-radius: 8px;
	margin-bottom: 20px;
  }
  .hero-item-content {
	flex: 1;
  }


  .centerContainer {
	text-align: center;
    margin-top: 50px; /* Adjust the top margin as needed */
  }
  @media (max-width: 768px) {
    h1 {
        font-size: 28px; /* Adjust font size for smaller screens */
		}
	}	

  

  .center {
	display: flex;
	justify-content: right;
  }

  .download-button {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 8px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s;
  }

  .download-button:hover {
	background-color: #0056b3;
  }

  /* Adjust this width to change the column width */
  .col-md-20 {
	width: 100%;
  }

/* -------------------------------------------------------
                    Nav Bar
-------------------------------------------------------- */
nav {
	background-color: #333;
	color: white;
	font-size: 18px;
  }
  
  nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  nav li {
	margin: 0 10px;
  }
  
  nav a {
	color: white;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 5px;
	transition: background-color 0.5s;
  }
  
  nav a:hover {
	background-color: #444;
  }
  
  nav a.active {
	background-color: #555;
  }
  
/* -------------------------------------------------------
                   Project CSS
-------------------------------------------------------- */

/* -------------------------------------------------------
                    Portfolio Image
-------------------------------------------------------- */
#carousel {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 10px;
  }
  
  .carousel-item {
	position: relative;
  }
  
  .carousel-item img {
	width: 100%;
	height: auto;
  }
  
  .description {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s;
  }
  
  .carousel-item:hover .description {
	visibility: visible;
	opacity: 1;
  }
  
  .description a {
	color: white;
	text-decoration: none;
	padding: 0.5em 1em;
	border: 1px solid white;
	border-radius: 5px;
  }
  
  .description a:hover {
	background-color: white;
	color: black;
  }
  
  
/* -------------------------------------------------------
                    Portfolio
-------------------------------------------------------- */

.portfolio{
	overflow: hidden;
}

.portfolio .filtering span{
	padding: 0 25px 5px 20px;
	font-size: 16px;
	position: relative;
	cursor: pointer;
}

.portfolio .filtering .active:after{
	width: 60%;
}

.portfolio .filtering span:after{
	content: "";
	background: #111;
	position: absolute;
	left: 18%;
	bottom: 0;
	height: 2px;
	width: 0;
	transition: all .5s;
}

.item-img {
	padding: 15px;
	position: relative;
}

.item-img-overlay{
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	background: rgba(0,0,0,.6);
	opacity: 0;
	overflow: hidden;
	transition: all .5s;
}

.item-img-overlay .v,
.item-img-overlay .x
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: none;
}

.item-img:hover .v:after,
.item-img:hover .v:before
{
	left: 10%;
	right: 10%;
}

.item-img:hover .x:after,
.item-img:hover .x:before
{
	top: 10%;
	bottom: 10%;
}

.item-img-overlay .v:after,
.item-img-overlay .v:before
{
	content: '';
	height: 1px;
	position: absolute;
	left: 50%;
	right: 50%;
	background: #eee;
	transition: all .5s;
}

.item-img-overlay .v:after{
	top: 10%;
}

.item-img-overlay .v:before{
	bottom: 10%;
}

.item-img-overlay .x:after,
.item-img-overlay .x:before
{
	content: '';
	width: 1px;
	position: absolute;
	top: 50%;
	bottom: 50%;
	background: #eee;
	transition: all .5s;
}

.item-img-overlay .x:after{
	right: 10%;
}

.item-img-overlay .x:before{
	left: 10%;
}

.item-img-overlay .overlay-info{
	position: absolute;
	bottom: -80px;
	left: 0;
	width: 100%;
	text-align: center;
	color: #aaa;
	transition: all .5s;
}

.item-img-overlay .v-middle a{
	display: inline-block;
	color: #eee;
	font-size: 16px;
	cursor: pointer;
	width: 260px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #eee;
	margin: auto;
}

.item-img-overlay .v-middle h5{
	color: #eee;
	font-weight: 600;
}

.item-img:hover .item-img-overlay{
	opacity: 1;
}

/* -------------------------------------------------------
                    Clients
-------------------------------------------------------- */

.clients{
	background: #fafafa;
}

.clients .client-say{
	padding: 50px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 5px 40px #eee;
}

.client-say .client-item p{
	font-size: 16px;
	color: #444;
	margin-bottom: 30px;
}

.client-say .client-item h6{
	font-size: 14px;
	color: #555;
	margin-bottom: 30px;
}

.owl-theme .owl-dots .owl-dot span{
	width: 7px;
	height: 7px;
	border: 1px solid #000;
	border-radius: 50%;
	background: #000;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span
{
	background: transparent;
	transform: scale(1.2,1.2);
}

/* -------------------------------------------------------
                    Numbers
-------------------------------------------------------- */

.numbers .numb-item span{
	font-size: 40px;
}

.numbers .numb-item h3{
	font-weight: 900;
	margin: 20px auto;
	color: #222;
}

.numbers .numb-item p{
	color: #111;
}

/* -------------------------------------------------------
                    Blog
-------------------------------------------------------- */

.blog{
	background: #fafafa;
}

.blog .content-post{
	background: #fff;
	padding: 30px 20px;
}

.blog .content-post h6{
	margin: 0;
	font-family: 'Righteous', cursive;
}

.blog .content-post .date{
	font-size: 12px;
	color: #777;
	margin: 15px auto;
	padding-bottom: 15px;
	display: block;
	border-bottom: 1px solid #eee;
}

.blog .content-post a,
.blog .content-post a:hover
{
	color: #222;
}

/* -------------------------------------------------------
                    Contact
-------------------------------------------------------- */

.contact .cont-info{
	margin-bottom: 80px;
}

.contact .cont-info .info-item .icon{
	width: 40px;
	height: 40px;
	line-height: 45px;
	text-align: center;
	font-size: 16px;
	float: left;
	margin-bottom: 30px;
	background: #222;
	color: #eee;
	border-radius: 4px;
	transform: rotate(-45deg);
}

.contact .cont-info .info-item span{
	transform: rotate(45deg);
}

.contact .cont-info .info-content{
	margin-left: 70px;
	color: #666;
}

.contact .cont-info .info-content h6{
	font-size: 14px;
}

.contact .cont-info .info-content h5{
	font-size: 16px;
}

.contact .form{
	padding-top: 50px;
	overflow: hidden;
}

.contact .form input,
.contact .form textarea
{
	width: 100%;
	padding: 10px;
	border: none;
	background: #f7f7f7;
	margin-bottom: 30px;
}

.contact .form textarea{
	max-width: 100%;
	max-height: 140px;
	height: 140px;
}

.contact .form input.button{
	background: #eee;
	color: #111;
	transition: all .5s;
}

.contact .form input.button:hover{
	background: #222;
	color: #eee
}

/* -------------------------------------------------------
                    Footer
-------------------------------------------------------- */

footer{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background: #111;
	padding: 80px 0;
	text-align: center;
	z-index: 1;
}

footer .social-icon span{
	color: #eee;
	margin: 10px 2px 0;
	width: 40px;
	height: 100px;
	line-height: 40px;
	border-radius: 50%;
	cursor: pointer;
	transition: all .5s;
}

footer .social-icon span:hover{
	color: #111;
	background: #000000;
}

footer p{
	color: #ffffff;
}

/* -------------------------------------------------------
                     Demo-2 
-------------------------------------------------------- */

#particles-js{
	width: 100%;
	height: 100%;
}

/* -------------------------------------------------------
                     Demo-2 
-------------------------------------------------------- */

.demo-3{
	height: 105vh;
	clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 0% 100%);
}

.demo-3 .button-scroll{
	bottom: 10vh;
}

.cd-headline.rotate-1 .cd-words-wrapper {
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px;
}
.cd-headline.rotate-1 b {
  opacity: 0;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.cd-headline.rotate-1 b.is-visible {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-animation: cd-rotate-1-in 1.2s;
  -moz-animation: cd-rotate-1-in 1.2s;
  animation: cd-rotate-1-in 1.2s;
}
.cd-headline.rotate-1 b.is-hidden {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-animation: cd-rotate-1-out 1.2s;
  -moz-animation: cd-rotate-1-out 1.2s;
  animation: cd-rotate-1-out 1.2s;
}

@-webkit-keyframes cd-rotate-1-in {
  0% {
    -webkit-transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(360deg);
    opacity: 1;
  }
}
@-moz-keyframes cd-rotate-1-in {
  0% {
    -moz-transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -moz-transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -moz-transform: rotateX(360deg);
    opacity: 1;
  }
}
@keyframes cd-rotate-1-in {
  0% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: rotateX(120deg);
    -moz-transform: rotateX(120deg);
    -ms-transform: rotateX(120deg);
    -o-transform: rotateX(120deg);
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
    opacity: 1;
  }
}
@-webkit-keyframes cd-rotate-1-out {
  0% {
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(180deg);
    opacity: 0;
  }
}
@-moz-keyframes cd-rotate-1-out {
  0% {
    -moz-transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -moz-transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -moz-transform: rotateX(180deg);
    opacity: 0;
  }
}
@keyframes cd-rotate-1-out {
  0% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: rotateX(-40deg);
    -moz-transform: rotateX(-40deg);
    -ms-transform: rotateX(-40deg);
    -o-transform: rotateX(-40deg);
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
  }
}

/* -------------------------------------------------------
                     Demo-4 
-------------------------------------------------------- */

.demo-4{
	position: relative;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.demo-4-overlay{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.5);
}

/* -------------------------------------------------------
                     Post Page 
-------------------------------------------------------- */

.posts{
	height: 60vh;
	width: 100%;
	background: rgba(0,0,0,.8);
	background-image: url(../img/bg-1.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-blend-mode: overlay;
	position: relative;
	overflow: hidden;
}

/*s-post*/

.s-post,
.comments,
.post-comment
{
	padding-right: 40px;
	margin: 80px auto;
	border-right: 1px solid #eee;
	overflow: hidden;
}

.s-post .img-post{
	position: relative;
	overflow: hidden;
}

.s-post .img-post:hover .social-icon{
	opacity: 1;
	bottom: 0;
}

.s-post .img-post .social-icon{
	position: absolute;
	bottom: -50px;
	width: 100%;
	left: 0;
	opacity: 0;
	transition: all .5s;
}

.s-post .img-post .social-icon span{
	width: 50px;
	height: 40px;
	line-height: 40px;
	background: #fff;
	margin: 0 -2px;
	cursor: pointer;
}

.s-post .content-post{
	padding: 50px 0;
}

.s-post .content-post h5{
	margin: 0;
	font-weight: 700;
}

.s-post .content-post .date{
	font-size: 12px;
	color: #888;
	margin: 20px auto;
	padding-bottom: 20px;
	display: block;
	border-bottom: 1px solid #eee;
}

.s-post .content-post .date span{
	margin: 0 5px;
}

.s-post .content-post .special{
	padding: 20px;
	margin-left: 40px;
	background: #fafafa;
}

.s-post .content-post .special p{
	padding-left: 20px;
	border-left: 4px solid #eee;
}

/*comments*/

.comments .com-post img{
	width: 80px;
	float: left;
}

.comments .com-post .content{
	margin-left: 100px;
}

.comments .com-post .content h6{
	font-style: italic;
	font-size: 16px;
	padding-bottom: 10px;
	display: inline-block;
	border-bottom: 1px solid #eee;
}

.comments .com-post .content h6 span{
	color: #ccc;
}

/*post comment*/

.post-comment .tit,
.comments .tit
{
	font-size: 30px;
}

.post-comment .tit:after,
.comments .tit:after
{
	left: 0;
}

.post-comment .form input,
.post-comment .form textarea
{
	width: 100%;
	padding: 10px;
	border: none;
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
}

.post-comment .form textarea{
	max-width: 100%;
	max-height: 100px;
	height: 100px;
}

.post-comment .form input.button{
	padding: 7px 25px;
	background: #eee;
	color: #111;
	transition: all .5s;
}

.post-comment .form input.button:hover{
	background: #222;
	color: #eee
}

/*side bar*/

.side-bar{
	margin-top: 40px;
}

.side-bar .search{
	position: relative;
}

.side-bar .search input{
	width: 100%;
	padding: 7px 50px 7px 7px;
	border: none;
	border: 1px solid #eee;
}

.side-bar .search span{
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	text-align: center;
	padding-top: 7px;
	width: 50px;
	background: #eee;
}

.side-bar .side-title{
	position: relative;
}

.side-bar .side-title h6{
	position: relative;
	padding: 20px 0;
	border-bottom: 2px solid #eee;
	text-transform: uppercase;
	font-family: 'Righteous', cursive;
}

.side-bar .social-icon span{
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 5px;
	background: #fafafa;
	transition: all .5s;
}

.side-bar .social-icon span:hover{
	background: #111;
	color: #fafafa;
}

.side-bar .categories .catg span{
	float: right;
}

.side-bar .tags .tag span{
	background: #fafafa;
	padding: 10px 20px;
	margin-bottom: 5px;
}